@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: HelveticaNeue;
  src: url(../../public/fonts/HelveticaNeueLTStd-Roman.otf);
  font-weight: 400;
  font-display: swap;
} */
@font-face {
  font-family: HelveticaNeue;
  src: url(../../public//fonts/HelveticaNeueLTStd-Md.otf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: HelveticaNeue;
  src: url(../../public//fonts/HelveticaNeueLTStd-Lt.otf);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: HelveticaNeue;
  src: url(../../public//fonts/HelveticaNeueLTStd-Bd.otf);
  font-weight: bold;
  font-display: swap;
}

body {
  font-family: HelveticaNeue;
  font-size: 12px;
}
@media (min-width: 769px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 1025px) {
  body {
    font-size: 16px;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.image-shadow:after {
  content: "";
  width: 100%;
  height: 50%;
  background: linear-gradient(
    180.78deg,
    rgba(0, 0, 0, 0.0001) 30.79%,
    rgba(0, 0, 0, 0.29713) 87.89%
  );
  position: absolute;
  z-index: 1;
  bottom: 0;
}
